@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@400;700&display=swap');

:root {
    --primaryColor: #85c242;
    --secondaryColor: #e4efd8;
    --primaryFontColor: #0d8c39;
    --secundaryFontColor: #fdfaf0;
    --primaryCardColor: #fefae0;
    --secundaryCardColor: #fff7c4c0;
    --primaryFont: "Averia Libre", system-ui;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: linear-gradient(to bottom, var(--primaryColor), var(--secondaryColor));
}


.logo {
    padding-top: 2rem;
    width: 60%;
    display: block;
    filter: drop-shadow(5px 5px 10px #000);
    margin: 0 auto;
}

.body {
    background-color: var(--secondaryColor);
    font-family: var(--primaryFont);
    font-weight: 400;
}

.header_text {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primaryFontColor);
    font-weight: 700;
}

.header_text h1 {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-shadow: -2px 1px 3px rgba(0, 0, 0, .4);
}

.header_text p {
    background-color: #c0342ddc;
    color: var(--secundaryFontColor);
    width: 85%;
    font-size: 1rem;
    padding: .6rem;
    border-radius: 5px;
    text-align: center;
}

.cards {
    width: 95%;
    margin: 2rem auto;
    color: var(--primaryFontColor);
}

.cards h2 {
    font-size: 1.3rem;
    text-shadow: -2px 0px 3px rgba(0, 0, 0, .4);
    text-align: left;
    margin-left: 1.1rem;
}

.card {
    border: 1.1px solid #dda15e;
    background-color: var(--primaryCardColor);
    box-shadow: -7px 8px 23px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -7px 8px 23px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 8px 23px -8px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 1rem;
    width: 90%;
    margin: 1.3rem auto;
    display: flex;
    justify-content: space-;
}

.img_card {
    width: 45%;
    border-radius: 5px;
}

.text_card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: .5rem;
    background-color: var(--secundaryCardColor);
    border-radius: 5px;
}

.text_card h3 {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
}

.text_card p {
    font-size: 0.9rem;
}

.footer {
    padding: .5rem;
    text-align: center;
    background-color: var(--primaryFontColor);
    color: var(--secundaryFontColor);
    text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.3)
}